.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.cal{
  background-color:black;
  height:310px;
  width:500px;
  align-items: center;
  padding-top: 50px;
  border-radius: 5px;
  border-color:solid pink;
  margin-left: 35%;
  margin-top: 8%;
}
h1{
  color: pink;
}
.button{
  margin-top: 50px;
  margin-right: 27px;
  width:47px;
  background-color: pink;
   
}
.button1{
  margin-top: 50px;
  margin-right: 27px;
  margin-left: 24px;
  width:47px;
  background-color: pink;
   
}
.input{
  margin-top: 60px;
}
.inputtag{
  width:250px;
  height:23px;
  border:none;
  margin-top: 12px;

}

